<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

| header | header |header |
| ------ | ------ |-------|
| cell | cell |cell|
| cell | cell |cell|
| cell | cell |cell|
| cell | cell |cell|

# My Jupyter Notebook on IBM Watson Studio

**Mohan Kumar Pudasaini**

Data Analyst

_I am interested in data science because I want to use data to solve real-world problems and make a positive impact on society._

### This code will perform simple arithmetic calculation.

In [1]:
2+3

5

- Bulleted list
  - item 1
  - item 2
  
1. Numbered list
2. item 1
3. item 2

Table | Column 1 | Column 2
---|---|---
Row 1 | Data 1 | Data 2
Row 2 | Data 3 | Data 4